<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
	<div class="workingroom">
		<div th:replace="include/menu::menu"></div>
		<div class="addOrEdit">
			<form action="updateRole" method="post">
				角色名: <input type="text" name="name" th:value="${role.name}">
				<br> 角色描述: <input type="text" name="desc_"
					th:value="${role.desc_}"> <br>
				<br> 配置权限:<br>
				<div
					style="text-align: left; width: 300px; margin: 0px auto; padding-left: 50px">
					<input name="permissionIds" type="checkbox" th:each="p:${ps}" th:value="${p.id}"   th:text="${p.name}"  />
				</div>
				<br>
				<input type="hidden" name="id" th:value="${role.id}"> <input
					type="submit" value="修改">
			</form>
		</div>
	</div>
</body>
</html>