<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
	<div class="workingroom">
		<div th:replace="include/menu::menu"></div>
		<div class="addOrEdit">
			<form action="updatePermission" method="post">
				权限名称: <input type="text" name="name" th:value="${permission.name}">
				<br> 权限描述: <input type="text" name="desc_"
					th:value="${permission.desc_}"> <br> 权限对应的url: <input
					type="text" name="url" th:value="${permission.url}"> <br>
				<br> <input type="hidden" name="id" th:value="${permission.id}">
				<input type="submit" value="修改">
			</form>
		</div>
	</div>
</body>
</html>